<div class="main-page">
    <div class="header">
        <span>
            404
        </span>
    </div>
    <div class="errorPage">
        <div class="errorText">
            <img src="/../assets/404BACKGRAUND.jpg" alt="">
            <span>
                404
            </span>
            <span>
                Luks like you're lost
            </span>
            <span>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </span>
        </div>
        <div class="errorButton">
            <a href="">
                <button>BACK TO HOME</button>
            </a>
        </div>
    </div>
</div>