<div class="main-page">

    <div class="travel-textbox">
        <span>
            Travel <span>Template</span>
        </span>
        <span>
            Lorem ipsum dolor sit amet consectetur
        </span>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt natus tenetur libero ipsam provident amet
            eligendi obcaecati officia architecto.
        </span>
    </div>

    <div class="serch">
        <input type="text" value="From destination">
        <input type="text" value="From">
        <input type="text" value="To">
        <button>Search</button>
    </div>
</div>

<div class="welcomeContainer">
    <div class="welcom-item">
        <div class="welcome-text-conteiner">
            <div class="welcome-text-title">
                <span>
                    WELCOME TO TRAVEL
                </span>
            </div>
            <div class="welcome-text">
                <span>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis ipsam accusantium voluptates, dolor
                    quia
                    qui deleniti tempore officiis recusandae, saepe impedit nesciunt labore fugit id natus, molestiae
                    aliquam quisquam nostrum.
                </span>
            </div>
            <div class="welcome-text-link">
                <a href="">READ MORE</a>
            </div>
        </div>
        <div class="welcome-picture">
            <img src="/../assets/welcomPic.jpg" alt="">
        </div>
    </div>
    <div class="welcome-links-row">
        <div class="welcome-links" *ngFor="let item of linksArr">
            <div class="welcome-links-pic">
                <img src="{{item.pathPic}}" alt="">
            </div>
            <div class="welcome-links-text">
                <span>
                    {{item.title}}
                </span>
                <span>
                    {{item.text}}
                </span>
            </div>
            <div class="welcome-links-icon">
                <a href="">
                    <span class="material-icons">
                        expand_more
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="sliderContainer"></div>

<div class="partnersContainer">
    <div class="partnersRow">
        <div class="itemPartners" *ngFor="let partnersItems of partnersArr">
            <img src="{{partnersItems.picPath}}" alt="">
        </div>
    </div>
</div>