<nav class="navbar">
    <div class="navbar-logo">
        <span>
            TRAVEL
        </span>
    </div>

    <div class="navbar-items">
        <a href="" class="navbar-link">Home</a>
        <a href="" class="navbar-link">About us</a>
        <a href="" class="navbar-link">Services</a>
        <a href="" class="navbar-link">Portfolio</a>
        <a href="" class="navbar-link">Blog</a>
        <a href="" class="navbar-link">Contact</a>
        <div class="navbar-call">
            <div class="call-icon">
                <span class="material-icons">
                    phone_enabled
                </span>
            </div>
            <div class="call-number">
                <span>
                    Call us: 851515959559
                </span>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="footerConteiner">

    <div class="footerRowLogo">
        <div class="footerLogo">
            <Span>
                TRAVEL
            </Span>
        </div>
        <Span>
            Footer links
        </Span>

        <Span>
            Footer links
        </Span>

        <Span>
            Footer links
        </Span>
        <Span>
            Contact US
        </Span>
    </div>
    <div class="footerRow">
        <div class="footerColumn">
            <span>
                Lorem ipsum dolor sit amet,
            </span>
            <span>
                consectetur adipisicing elit,
            </span>
            <span>
                Sed do eiusmod tempore
            </span>
        </div>
        <div class="footerColumn">
            <a href="">
                Footer menu links
            </a>
            <a href="">
                Footer menu links
            </a>
            <a href="">
                Footer menu links
            </a>
        </div>
        <div class="footerColumn">
            <a href="">
                Footer menu links
            </a>
            <a href="">
                Footer menu links
            </a>
            <a href="">
                Footer menu links
            </a>
        </div>
        <div class="footerColumn">
            <a href="">
                Footer menu links
            </a>
            <a href="">
                Footer menu links
            </a>
            <a href="">
                Footer menu links
            </a>
        </div>
        <div class="footerColumn">

            <span>
                <i class="fa-solid fa-phone-flip"></i>
                855-5564-65651
            </span>
            <span>
                <i class="fa-solid fa-location-arrow"></i>
                Adress streets City
            </span>
            <span>
                <i class="fa-solid fa-envelope"></i>
                your.mail@domains.com
            </span>
        </div>
    </div>
</footer>


<div class="copyrightConteiner">
    <div class="copyrightRow">
        <div class="copyrightText">
            <span>
                2018 @ Copyrights FREETHEME
            </span>
        </div>
        <div class="copyrightLinks">
            <div class="copyrightLinksText">
                <a href="">Support</a>
                <a href="">Contact Us</a>
                <a href="">Disclaimer</a>
                <a href="">Adc More</a>
            </div>
            <div class="copyrightsLinkSocial">
                <a href="">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-behance"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-pinterest"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-dribbble"></i>
                </a>
            </div>
        </div>
    </div>
</div>