<div class="main-page">
    <div class="page-title">
        <span>
            Dafault page
        </span>
    </div>
    <div class="page">
        <div class="page-content">
            <div class="content-title">
                <span>title pages</span>
            </div>
            <div class="content-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus odio quis orci aliquam lobortis.
                Donec
                mollis tempor tincidunt. Pellentesque luctus auctor velit vestibulum cursus. Vivamus pulvinar lorem ut
                augue
                rhoncus aliquam. Ut dignissim neque quam, ut luctus mauris vulputate a. Maecenas vel arcu ac massa
                luctus
                faucibus sit amet sit amet mi. Phasellus ultricies quis nulla non laoreet. Pellentesque eget mi leo.
                Suspendisse accumsan ligula eget vehicula bibendum. Vivamus pharetra, velit eu faucibus commodo, nulla
                turpis elementum justo, non gravida mi arcu a tortor. Praesent euismod lacus tincidunt libero efficitur,
                in
                mollis nulla varius. Nullam nec ex at sem facilisis ultrices. Suspendisse aliquam erat porttitor ipsum
                finibus tempor. Nunc eu lorem a nunc tincidunt vestibulum. Aenean mattis ultrices libero, et
                sollicitudin
                mauris eleifend viverra.
            </div>
            <div class="content-links">
                <div class="links-row">
                    <div class="links">
                        <div class="links-pic">
                            <img src="/../assets/welcomLink.jpg" alt="">
                        </div>
                        <div class="links-text">
                            <span>
                                LOREM
                            </span>
                            <span>
                                Lorem ipsum dolor sit.
                            </span>
                        </div>
                        <div class="links-icon">
                            <a href="">
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="links">
                        <div class="links-pic">
                            <img src="/../assets/welcomLink.jpg" alt="">
                        </div>
                        <div class="links-text">
                            <span>
                                LOREM
                            </span>
                            <span>
                                Lorem ipsum dolor sit.
                            </span>
                        </div>
                        <div class="links-icon">
                            <a href="">
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="links">
                        <div class="links-pic">
                            <img src="/../assets/welcomLink.jpg" alt="">
                        </div>
                        <div class="links-text">
                            <span>
                                LOREM
                            </span>
                            <span>
                                Lorem ipsum dolor sit.
                            </span>
                        </div>
                        <div class="links-icon">
                            <a href="">
                                <span class="material-icons">
                                    expand_more
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>